<footer class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-md-4 text-center">
      <p> Tel: 732-229-5799</p>
      <p>Fax: 732-571-0890</p>
      <p>Email: abrahamshummos@gmail.com</p>
    </div> 
    <div class="col-md-4 text-center">
      <p>Abraham's Natural Foods</p>
      <p>9 Long Branch Avenue</p>
      <p>Long Branch, New Jersey 07740</p>
    </div>
  </div>
</footer> 