<style>
  footer {
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
    background: #F4CB7D;
    padding: 40px 0 40px 0;
  }

  footer>.row>div>* {
    text-decoration: none;
    color: #343a40;
    transition: .3s;
  }

  footer>.row>div>*:hover {
    color: #656e77;
  }
</style>


<footer class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-md-4 text-center">
      <a href="https://www.google.com/maps/place/Abraham's+Natural+Foods/@40.3062494,-73.982292,15z/data=!4m2!3m1!1s0x0:0xc1f5078ffe4ab6b4?sa=X&ved=0ahUKEwj-ucDLsf3ZAhVxp1kKHXUQDb0Q_BIIyAEwCg">
        <p>Abraham's Natural Foods</p>
        <p>9 Long Branch Avenue</p>
        <p>Long Branch, New Jersey 07740</p>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="tel:+1-732-229-5799">
        <p>
          <i class="fas fa-phone"></i> 732-229-5799</p>
      </a>
      <a href="mailto:abrahamshummos@gmail.com?Subject=Info%20" target="_top">
        <p>
          <i class="fas fa-envelope"></i> Abrahamshummos@gmail.com</p>
      </a>
      <a href="#">
        <p>
          <i class="fas fa-fax"></i> 732-571-0890</p>
      </a>
    </div>
  </div>
</footer>
</body>

</html>