 <style>
 header {
  position: relative;
  top: 0;
  background: url("../../assets/images/hummos.png");
  background-repeat: no-repeat;
  background-size: 425px;
  background-position: center;
  height: 450px;
  
}
.narbar-collapse {
  transition: .4s ease-in;
 
}
#nav-container {
  background: linear-gradient(90deg , #F4CA80, rgb(241, 209, 153));
  box-shadow: 1px 2px 3px #888888;
  padding: 0px;
}

#nav-container * {
  
  color: white;
  
}

.navbar{
  position: absolute;
  top: 190px;
  width: 100%;
  padding: 0;
}

.nav-item {
  padding-right: 10px;
}
   
#title {
  font-family: "cooper", sans-serif;
}
#navbarSupportedContent {
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
  padding: 10px 0 10px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.479);
}

.sticky {
  transition: .5s;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 99;
  background: rgba(255, 255, 255, 0.872) !important;
  padding: 10px 0px 10px 0px;
} 
.sticky > ul > li > a {
  color: rgb(27, 27, 27) !important;
}

@media screen and (max-width: 992px){
  header {
    height: 45vw;
    background-size: 42vw;
  }
}
  

</style>
 <div id="nav-container" class="container-fluid">
  <header> 
  </header>
    <nav class="navbar d-block navbar-expand-lg navbar-light">     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="navbar-ul" class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hummos_locater">Hummos Locater</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  
</div>