/* ---------- Global Styles -------------- */

@font-face {
  font-family: 'cooper';
  src: url('../cooper_black.ttf');
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  
}

body {
  
    background: #FFF3DC;
}

footer {
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
  background: #F4CA80;
  padding: 20px 0 20px 0;
}




/* --------------- Home Styles ----------------- */

.container{
  max-width: 960px;
  margin-bottom: 40px;
  margin-top: 40px;
  
}

/* .container-fluid {
  margin-top: 40px;
  margin-bottom: 40px;
} */
.extra-padding {
  padding: 20% 0 19% 0;
}

/* -------------- Media Quiries ------------------- */

@media (min-width: 576px){
  .modal-dialog {
    max-width: 60%;
  }
}

@media (max-width: 576px) {
  .modal-body .card {
    width: 100% !important;
  }
}