
<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <div id="home-container" class="slider container-fluid">
      <h1 class="text-center">Our Mission</h1>
      <div class="row">
        <div class="col-md-12">
          <p>
            Abraham’s is a family name from a family company, working to bring healthy, Middle Eastern fare to your table.
            The Abraham’s seal means the food in your hands was produced in small batches by a dedicated staff, using only the highest quality ingredients and paying the closest attention to freshness.
          </p>
        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs%>
    <script>
      
      var header = $(".navbar-collapse");
      

      $(document).on("scroll", function(e) {
        console.log($(this).scrollTop())

        if ($(this).scrollTop() > 190) {
          header.addClass("sticky");
      

        } else {
          header.removeClass("sticky");
      
        }
        
      });
      </script>
  </body>
</html>
