
<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <div id="contact-container" class="slider container-fluid">
      <section id="contact">
        
          <div class="well well-sm">
          </div>
        <div class="row">
          <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12171.092751770795!2d-73.97712585000001!3d40.302994749999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc1f5078ffe4ab6b4!2sAbraham&#39;s+Natural+Foods!5e0!3m2!1sen!2sus!4v1518096489334" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <h4><strong>Get in Touch</strong></h4>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" name="" value="" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="" value="" placeholder="E-mail">
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" name="" value="" placeholder="Phone">
              </div>
              <div class="form-group">
                <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
              </div>
              <button class="btn btn-default" type="submit" name="button">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
              </button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
  <footer class="container-fluid bg-info">
    <div class="row justify-content-around">
      <div class="col-md-4 text-center">
        <p> Tel: 732-229-5799</p>
        <p>Fax: 732-571-0890</p>
        <p>Email: abrahamshummos@gmail.com</p>
      </div> 
      <div class="col-md-4 text-center">
        <p>Abraham's Natural Foods</p>
        <p>9 Long Branch Avenue</p>
        <p>Long Branch, New Jersey 07740</p>
      </div>
    </div>
  </footer> 
</html>
