<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
  <style>
    #locater-container>.row {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
      background: rgba(255, 255, 255, 0.493);
      padding: 30px 30px 70px 30px;
      /* margin-bottom: 20px; */
    }


    #locater-container #locater-state {
      display: flex;
      justify-content: space-around;
    }
    /* #locater-container .locater-state > li {
      display: inline-block;
      margin-right: 10px;
    } */

    #map {
      height: 500px;
      width: 100%;
    }
  </style>

  <body>
    <% include ../partials/nav %>
      <div class="wrapper">
        <div id="locater-container" class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">Hummos Locater</h1>
              <p class="text-center">Abraham's Hummos can be found at any of these natural and gourmet stores.</p>
            </div>
            <div class="col-sm-12">
              <p id="map">
                <iframe src="//batchgeo.com/map/393a157908cf52d462cb0a4fd87e07ec" frameborder="0" width="100%" height="550px" style="border:1px solid #aaa;"></iframe>
              </p>
            </div>
          </div>
                        <p>
                          <small>View
                            <a href="https://batchgeo.com/map/393a157908cf52d462cb0a4fd87e07ec">Hummos Locater</a> in a full screen map</small>
                        </p>
        </div>
      </div>
      <% include ../partials/footer.ejs%>
        <script type="text/javascript" src="../../assets/js/navbar_stick.js"></script>
  </body>

</html>


