<!-- Notes 
  - Home: Remove Title. Label is primary focus. Maybe move tagline to top? Cosutomer might not know
    there is anything left to scroll too. 
  - Products: Remove curved label from main page. Model lists ingreients but change format. NO CURVED LABEL AT ALL.

-->


<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <style>
  
#card-container > div > div > div {
  box-shadow: 0 1px 2px rgba(57,73,76,.35);
  /* border: 3px solid #FFF3DC; */
  transition: .3s;
  overflow: hidden;
  
}

#card-container > div > div > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 1px 10px rgba(57,73,76,.35);

}

#card-container > div > div > div > img {
  
}


#card-container > div > div > div > div{
  background: #fff;
  padding: 10px;
  
}

#about-container {
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
  background: rgba(255, 255, 255, 0.493);
  padding: 20px 20px 20px 20px;
}


#slogan-container > div > div > div {
  font-family: 'cooper';
  letter-spacing: 2px;
  padding: 30px 0px 30px 0px;
  background: rgba(243, 198, 76, 0.849);
  box-shadow: 0 1px 6px rgba(57,73,76,.35)
}
</style>
  <body>
    <% include ../partials/nav %>
    <div class="wrapper">
    <div id="card-container" class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="home-cards rounded">
            <img src="assets/images/alex.jpg" alt="Card image cap" height="auto" width="100%">
            <div class="caption">
              <h4>Small Batch</h4>
              <p>Unlike the big guys, Abraham's products are still handmade in small batches.</p>
              <a href="./about" class="btn btn-info">Our Story</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="home-cards rounded">
            <img style=""  src="assets/images/flavors.jpg" alt="Card image cap" height="auto" width="100%">
            <div class="caption">
              <h4>Variety</h4>
              <p>We offer 14 unique flavors of hummos to satisfy any taste. Try a different one today!</p>
              <a href="./products" class="btn btn-info">Flavors</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="home-cards rounded">
            <img src="assets/images/map_thumbnail.png" alt="Card image cap" height="auto" width="100%">
            <div class="caption">
              <h4>Find Us</h4>
              <p>Come find Abraham's at many of the gourmet supermarkets in the tri state area.</p>
              <a href="hummos_locater" class="btn btn-info">Locations</a>
            </div>
          </div>
        </div>
      </div>
      </div><!-- container -->
      <div class="container-fluid" id="slogan-container">
        <div class="row">
          <div class="col-12">
            <div class="text-dark align-items-center row text-center">
              <div class="col mx-auto">
                <h1 style="font-style: italic;">"Middle Eastern Foods From Middle Eastern <br> New Jersey"</em>
                </h1>
                <h5>Since 1985</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container rounded" id="about-container">
        <div class="row ">
          <div class="col-12">
            <h1>About</h1>
            <p>Abraham's best selling line of Middle Eastern foods are found in the tri-state area's finest gourmet and natural food stores. 
            </p>
            <p>In magna eu labore ea eiusmod sunt laborum anim. Commodo occaecat consequat tempor qui magna cupidatat occaecat laborum minim occaecat dolore nulla. Mollit ipsum elit sit consectetur laborum cillum elit aliquip occaecat cupidatat eu reprehenderit. Id ullamco qui sit adipisicing aute sunt tempor. Ipsum amet magna minim mollit esse ex magna proident irure cupidatat. Aute elit non velit enim ex voluptate officia nisi occaecat ad cillum.
            </p>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- Wrapper -->
    <% include ../partials/footer.ejs%>
    <script type="text/javascript" src="../../assets/js/navbar_stick.js"></script>
  </body>
</html>
