<!-- Notes 
  - Home: Remove Title. Label is primary focus. Maybe move tagline to top? Cosutomer might not know
    there is anything left to scroll too. 
  - Products: Remove curved label from main page. Model lists ingreients but change format. NO CURVED LABEL AT ALL.

-->


<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <style>
  
#card-container > div  {
  padding-top: 10px;
  padding-bottom: 10px;
}

#card-container > div > div > div {
  box-shadow: 1px 2px 3px #888888;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 5px;
}

#card-container > div > div > div > img {
  border-radius: 5px;
}

#card-container > div > div > div > div{
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

#about-container > div {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.493);
  padding: 20px 40px 20px 40px;
}


#slogan-container > div > div > div {
  padding: 30px 0px 30px 0px;
  background: rgba(243, 198, 76, 0.849);
  box-shadow: 1px 2px 3px #0000005b;
}
</style>
  <body>
    <% include ../partials/nav %>
    <div class="wrapper">
    <div id="card-container" class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="home-cards">
            <img src="assets/images/alex.jpg" alt="Card image cap" height="auto" width="100%">
            <div class="caption">
              <h4>Small Batch</h4>
              <p>Unlike the big guys, Abraham's products are still handmade in small batches.</p>
              <a href="./about" class="btn btn-info">Our Story</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="home-cards">
            <img style=""  src="assets/images/flavors.png" alt="Card image cap" height="auto" width="100%">
            <div class="caption">
              <h4>Variety</h4>
              <p>We offer 14 unique flavors of hummos to satisfy any taste. Try a different one today!</p>
              
              <a href="./products" class="btn btn-info">Flavors</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="home-cards">
            <img src="assets/images/map_thumbnail.png" alt="Card image cap" height="auto" width="100%">
            <div class="caption">
              <h4>Find Us</h4>
              <p>Come find Abraham's at many of the gourmet supermarkets in the tri state area.</p>
              <a href="hummos_locater" class="btn btn-info">Locations</a>
            </div>
          </div>
        </div>
      </div>
      </div><!-- container -->
      <div class="container-fluid" id="slogan-container">
        <div class="row">
          <div class="col-12">
            <div class="text-dark align-items-center row text-center">
              <div class="col mx-auto">
                <h1 style="font-style: italic;">"Middle Eastern Foods From Middle Eastern New Jersey"</em>
                </h1>
                <h5>Since 1985</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="about-container">
        <div class="row">
          <div class="col-12">
            <h1>About</h1>
            <p>Mollit aute pariatur eu irure nostrud voluptate velit eiusmod sunt labore aute elit aute eu. Et irure laboris veniam exercitation consectetur est anim culpa. Voluptate laborum elit fugiat anim occaecat fugiat est voluptate nisi. Ea duis proident eiusmod cupidatat minim qui tempor est non in est. Est ea proident sint velit pariatur occaecat aute laborum. Consequat occaecat nisi minim commodo aute veniam nisi ullamco. Esse voluptate irure sit aute commodo officia duis.
            </p>
            <p>In magna eu labore ea eiusmod sunt laborum anim. Commodo occaecat consequat tempor qui magna cupidatat occaecat laborum minim occaecat dolore nulla. Mollit ipsum elit sit consectetur laborum cillum elit aliquip occaecat cupidatat eu reprehenderit. Id ullamco qui sit adipisicing aute sunt tempor. Ipsum amet magna minim mollit esse ex magna proident irure cupidatat. Aute elit non velit enim ex voluptate officia nisi occaecat ad cillum.
            </p>
          </div>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- Wrapper -->
    <script>
      
      var header = $(".navbar-collapse");
      var navbar = $('.navbar')

      $(document).on("scroll", function(e) {
        console.log($(this).scrollTop())

        if ($(this).scrollTop() > 218) {
          header.addClass("sticky");
          navbar.addClass('extra-padding');

        } else {
          header.removeClass("sticky");
          navbar.removeClass('extra-padding');
        }
        
      });
      </script>
  </body>
  <footer class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-4 text-center">
        <p> Tel: 732-229-5799</p>
        <p>Fax: 732-571-0890</p>
        <p>Email: abrahamshummos@gmail.com</p>
      </div> 
      <div class="col-md-4 text-center">
        <p>Abraham's Natural Foods</p>
        <p>9 Long Branch Avenue</p>
        <p>Long Branch, New Jersey 07740</p>
      </div>
    </div>
  </footer> 

</html>
