
  <% include ../partials/head %>
  <style>

.card {
  border: none;
}
#products-container {
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.493);
  padding: 20px 20px 20px 20px;
}

#products-container > div {
  margin-bottom: 10px;
  
}
#products-container > div > div > a {
  text-decoration: none;
  
}
#products-container > div > div > a > img {
  transition: .3s;
}

#products-container > div > div > a > img:hover {
  background: rgba(0, 0, 0, 0.168);
  box-shadow: 0 1px 10px rgba(57,73,76,.35);
  transform: scale(1.05);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

</style>
    <% include ../partials/nav %>
    <div id="products-container" class="container">
      <h1 class="text-center">Products</h1>
      <p class="text-center">Click on a flavor to see the ingredients and nutrition facts.</p>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-traditional">
            <img class="card-img-top rounded-circle img-fluid" src="./assets/images/top_labels/traditional.png" alt="Card image cap" width="100%">
          </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="no-select" data-toggle="modal" data-target="#modal-baba">
              <img class="card-img-top rounded-circle img-fluid" src="./assets/images/top_labels/baba.png" alt="Card image cap">
            </a>
          </div>
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-roasted-garlic">
          <img class="card-img-top rounded-circle img-fluid" src="./assets/images/top_labels/roasted_g.png" alt="Card image cap">
          </a>
        </div>
      </div> <!--close row-->
      <div class="row">
          <div class="col-md-4">
              <a href="#" class="no-select" data-toggle="modal" data-target="#modal-red-pepper">
                <img class="card-img-top rounded-circle img-fluid" src="./assets/images/top_labels/red_pepper.png" alt="Card image cap">
              </a>
            </div>
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-hot">
              <img class="card-img-top rounded-circle" src="./assets/images/top_labels/hot.png" alt="Card image cap">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-parsley">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/parsley_onions.png" alt="Card image cap">
          </a>
        </div>
      </div> <!--close row-->
      <div class="row">
        <div class="col-md-4">
            <a href="#" class="no-select" data-toggle="modal" data-target="#modal-olives">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/olives.png" alt="Card image cap">
          </a>
        </div>
        <div class="col-md-4">
            <a href="#" class="no-select" data-toggle="modal" data-target="#modal-sundried-tomato">
              <img class="card-img-top rounded-circle" src="./assets/images/top_labels/sundried.png" alt="Card image cap">
            </a>
          </div>
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-horseradish">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/horseradish.png" alt="Card image cap">
          </a>
        </div>
      </div> <!--close row-->
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-no-salt">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/no_salt.png" alt="Card image cap">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-flax">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/original_flax.png" alt="Card image cap">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-chipotle">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/chip.png" alt="Card image cap">
          </a>
        </div>
      </div> <!--close row-->
      <div class="row">
        <div class="col-md-4 offset-md-2">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-lemony">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/lemon_flax.png" alt="Card image cap">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="no-select" data-toggle="modal" data-target="#modal-lemony">
            <img class="card-img-top rounded-circle" src="./assets/images/top_labels/garlic_chive_flax.png" alt="Card image cap">
          </a>
        </div>
      </div><!-- close row -->
    </div> <!-- close container-->
    <div class="modal-container">
      <div class="modal fade" id="modal-traditional" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/traditional_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-red-pepper" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/roasted_pepper_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-baba" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/baba_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-roasted-garlic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/roasted_g_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-sundried-tomato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/sundried_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-hot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/hot_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-parsley" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/parsley_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-olives" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/olives_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-no-salt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/no_salt_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-horseradish" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/horseradish_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-flax" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/original_flax_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-chipotle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/chip_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-no-salt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/no_salt_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-lemony" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 50vw; margin: auto;">
                <img class="card-img-top" src="./assets/images/side_labels/lemon_flax_side.jpg" alt="Card image cap">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs%>
    <script type="text/javascript" src="../../assets/js/navbar_stick.js"></script>
